.main {
  padding-top: 60px;
  height: 100vh;
  background: radial-gradient(48.21% 115.37% at 90.16% 43.78%, rgba(44, 13, 238, 0.2) 0%, rgba(154, 19, 202, 0.028) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(51.88% 124.16% at 2.31% 3.18%, #000000 0%, rgba(31, 7, 82, 0.19) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(46.67% 111.7% at 64.76% 23.05%, rgba(116, 27, 157, 0.2) 0%, rgba(19, 0, 239, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.text {
  color: var(--nibiru-text-light);
  font-size: 1rem;

  &.--small {
    font-size: 0.8rem;
  }
}

.icon {
  width: 25px;
  height: 25px;
  background: {
    color: var(--nibiru-bg-transparent);
    size: contain;
    repeat: no-repeat;
    position: center;
  };
}
